<tc-dropdown class="item" [close]="closeDropdown">
  <tc-dropdown-button>
    <div class="avatar-box d-flex align-items-center">
      <tc-avatar [src]="'assets/img/avatars/avatar.png'"></tc-avatar>
      <div class="name text-nowrap d-none d-md-block">Administrateur</div>
    </div>
  </tc-dropdown-button>

  <tc-dropdown-content [align]="appSettings.rtl ? 'left' : 'right'" [animation]="'fadeInUp'" [offset]="[8, 0]" [width]="160">
    <ul class="menu-list">
      <li>
        <a href="#">
          <tc-icon [iconClass]="'sli-home'" [tcFontSize]="16" [padding]="0" class="ms-1 me-1"></tc-icon>
          <span class="ms-1 me-1 pt-1">Mon compte</span>
        </a>
      </li>
      <li>
        <a href="#">
          <tc-icon [iconClass]="'sli-settings'" [tcFontSize]="16" [padding]="0" class="ms-1 me-1"></tc-icon>
          <span class="ms-1 me-1 pt-1">Paramètres</span>
        </a>
      </li>
      <li>
        <a href="#" (click)="goTo($event, 'sign-in', '../extra/')">
          <tc-icon [iconClass]="'sli-logout'" [tcFontSize]="16" [padding]="0" class="ms-1 me-1"></tc-icon>
          <span class="ms-1 me-1 pt-1">Se déconnecter</span>
        </a>
      </li>
    </ul>
  </tc-dropdown-content>
</tc-dropdown>
